<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.resatravels">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".register_Vehicle_safari"></activity>
        <activity android:name=".a_safari_vehicle" />
        <activity android:name=".All_Safari_Vehicle" />
        <activity android:name=".Admin_For_All_Hotels" />
        <activity android:name=".Registration" />
        <activity android:name=".Login" />
        <activity android:name=".ViewAHotel" />
        <activity android:name=".All_Hotel_Views" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>